.page0 {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/page_0/page0-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.page0-wrraper{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    img{
        width: 100%;
        height: 100%;
        cursor: pointer;
        object-fit: contain;
    }
}