.step {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	& .step-content {
		width: 80%;
		height: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		&__question {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			& > img {
				width: 30%;
				object-fit: contain;
			}
		}
		&__answer {
			width: 100%;
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			&--item {
				width: 45%;
				margin-bottom: 10px;
				position: relative;
				& > img {
					cursor: pointer;
					width: 100%;
					object-fit: contain;
				}
				& .answer__result {
					position: absolute;
					bottom: -5px;
					right: -50px;
					& img {
						width: 50%;
						object-fit: contain;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 500px) {
	.step {
		& .step-content {
			&__answer {
				&--item {
					width: 40%;
				}
			}
		}
	}
}

@media screen and (min-width: 500px) {
	.step {
		& .step-content {
			&__question {
				& > img {
					width: 25%;
				}
			}
			&__answer {
				margin-bottom: 30px;
				&--item {
					width: 24%;
					& > img {
						width: 100%;
						object-fit: contain;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1000px) {
	.step {
		& .step-content {
			width: 800px;
			&__question {
				& > img {
					width: 200px;
				}
			}
			&__answer {
				&--item {
					width: 180px;
				}
			}
		}
	}
}
