.multipleGame {
	width: 100%;
	& .question {
		width: 50%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		& img {
			width: 85%;
			object-fit: contain;
		}
	}
	& .answer {
		width: 50%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: 10px;
		&__item {
			width: 40%;
			position: relative;
			& img {
				width: 100%;
				object-fit: contain;
				margin-bottom: 10px;
			}
		}
		&__result {
			position: absolute;
			right: -5px;
			bottom: -5px;
			width: 20%;
			& > img {
				width: 100%;
				object-fit: contain;
			}
		}
	}
}

@media screen and (min-width: 560px) {
	.multipleGame {
		& .question {
			margin-bottom: 10px;
			& > img {
				width: 85%;
				object-fit: contain;
				margin-top: 15%;
			}
		}
		& .answer {
			justify-content: space-around;
			&__item {
				width: 35%;
			}
		}
	}
}

@media screen and (min-width: 680px) {
	.multipleGame {
		& .question {
			width: 30%;
			& > img {
				width: 100%;
				object-fit: contain;
			}
		}
		& .answer {
			justify-content: space-around;
			width: 32%;
			&__item {
				width: 45%;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.multipleGame {
		& .question {
			& > img {
				width: 100%;
				object-fit: contain;
			}
		}
		& .answer {
			&__item {
				width: 40%;
			}
		}
	}
}

@media only screen and (max-device-width: 559px) {
    .multipleGame {
		& .question {
			margin-bottom: 10px;
			& > img {
				margin-top: 30%;
				width: 85%;
				object-fit: contain;
			}
		}
		& .answer {
			justify-content: space-around;
			&__item {
				width: 35%;
			}
		}
	}
}