.page15-wrapper{
    .session-main15{
        position: absolute;
        bottom: 5%;
        width: 100%;
        height: 75%;
        .hidden{
            visibility: hidden;
        }
        .active{
            visibility: visible;
        }
        .session-title{
            height: 28%;
            width: 100%;
            transform: translateY(5%);
        }
        .session-main-list15{
            display: flex;
            justify-content: space-between;
            height: 72%;
            width: 100%;
            .list-item15{
                width: 33%;
            }
            .main-content15{
                display: flex;
                justify-content: space-between;
                .item{
                    width: 40%;
                }
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            cursor: pointer;
            z-index: 11;
        }
    }
}