.session20-main {
    position: absolute;
    height: calc(100% - 30%);
    width: 100%;
    bottom: 5%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    // background-color: red;
    &-list {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      height: 100%;
      width: 150%;
      
      &.reverse{
          flex-direction: row-reverse;
      }
      margin-left: -10%;
      // padding:20px;
      .teacher{
          width: 100%;
          height: 100%;
          display: flex;
          flex-wrap: wrap-reverse;
          .imgTeacher{
              width: 100%;
              height: 50%;  
          }
          .textTeacher{
            width: 38%;
            height: 100%;
            position: absolute;
            top: 11%;
            left: 48%;
            visibility: hidden;
            transform: scale(0.5);
            transition: 0.3s all ease-in;
              &.active{
                //   transform: scale(0.8);
                  visibility: visible;
              }
          
          }
         
      }
      .kid{
        
          width: 100%;
          height: 50%;
          display: flex;
          flex-wrap: wrap ;
          
          .imgKid{
              width: 100%;
              height: 100%;
              margin-left: 30%;
          }
          .textKid{
            width: 43%;
            height: 100%;
            position: absolute;
            top: 0%;
            left: 14%;
            visibility: hidden;
            transform: scale(0.5);
            transition: 0.3s all ease-in;
              &.active{
                  transform: scale(0.8);
                  visibility: visible;
              }
          }
  
      }
      
    }
  }
.imgPic{
    position: absolute;
    width: 50%;
    right: 5%;
    height: 35%;
    /* padding-bottom: 35%; */
    /* float: left; */
    top: -6%;
    display: none;
    /* justify-content: center; */
    /* align-items: center; */
    padding-right: 33%;
    .picture{
        height: 100%;
    }
    
}
.actives {
    display: flex;
}