.mini-game{
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    height: 40%;
    padding: 20px;
   display: flex;
   justify-content: center;
       img{
           position: absolute;
           height: 100%;
           animation: move 2s infinite;
       }
   }
   @keyframes move {
       0% {
           transform: scale(.8);
       }
       100% {
           transform: scale(1);
       }
   }