* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.App,
.pageWrap {
	max-width: 2000px;
	width: 100vw;
	margin: 0 auto;
	height: 100vh;
	overflow: hidden;
	position: relative;
}
ul,
li,
p {
	padding: 0px;
	margin: 0px;
}
a {
	text-decoration: none;
}
.pointer {
	cursor: pointer;
}
.none {
	display: none !important;
}
.absolute {
	position: absolute;
}
