.session-main-page11 {
	position: absolute;
	height: calc(100% - 30%);
	width: 100%;
	bottom: 5%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	// background-color: red;
	&-list {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		height: 100%;
		width: 100%;
		// padding:20px;
          .teacher-wrapper{
            width: 50%;
            height: 100%;
            display: flex;
            .teacher {
                width: 70%;
                height: 100%;
                display: flex;
                flex-wrap: wrap-reverse;
                .imgTeacher {
                    width: 100%;
                    height: 100%;
                }
                
            }
            .text-teacher{
                width: 30%;
                height: 100%;
                position: absolute;
                top: -30%;
                left: 20%;
                visibility: hidden;
                transform: scale(0.5);
                transition: 0.3s all ease-in;
                &.active {
                    transform: scale(0.8);
                    visibility: visible;
                }
            }
          }  
          .list-item {
			display: grid;
            grid-template-columns: 50% 50%;
            width: 30%;
            height: 50%;
            margin-bottom: 20%;
            grid-row-gap: 2%;
            grid-column-gap: 3%;
            &.active2{
                .item:nth-child(1){
                    transition-delay: 0.4s;
                    visibility: visible;
                }
                .item:nth-child(2){
                    transition-delay: 2.4s;
                    visibility: visible;
                }
                .item:nth-child(3){
                    transition-delay: 1.4s;
                    visibility: visible;
                }
                .item:nth-child(4){
                    transition-delay: 3.4s;
                    visibility: visible;
                }
            }
            .item{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
        
            }
			// background-color: red;
		}
        .hidden{
            visibility: hidden;    
        }
		.kid-wrapper{
			width: 25%;

			height: 60%;
			display: flex;
			flex-wrap: wrap;
			img {
				width: 100%;
				height: 100%;
			}
		}

	}
}
